<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.happiness.servinghands">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowClothDonorActivity"></activity>
        <activity android:name=".ShowToyDonorActivity" />
        <activity android:name=".ShowFoodDonorActivity" />
        <activity android:name=".ShowBookDonorActivity" />
        <activity android:name=".FoodPostsDonorActivity" />
        <activity android:name=".ToyPostsDonorActivity" />
        <activity android:name=".BookPostsDonorActivity" />
        <activity android:name=".ClothPostsDonorActivity" />
        <activity android:name=".ShowClothActivity" />
        <activity android:name=".ShowToyActivity" />
        <activity android:name=".ShowFoodActivity" />
        <activity android:name=".ToyPostsActivity" />
        <activity android:name=".FoodPostsActivity" />
        <activity android:name=".ClothPostsActivity" />
        <activity android:name=".ShowBookActivity" />
        <activity android:name=".BookPostsActivity" />
        <activity android:name=".MypostsActivity" />
        <activity
            android:name=".MyPostsActivity"
            android:label="@string/title_activity_my_posts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ToysActivity" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".ClothesActivity" />
        <activity android:name=".BookActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".DonationTypeActivity" />
        <activity android:name=".ForgotpasswordActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>